.popup__close-button {
  width: 32px;
  height: 32px;
  background-image: url(../../../images/Close-Icon.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 100% 100%;
  position: absolute;
  top: -40px;
  right: -40px;
  border: none;
  padding: 0;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
   .popup__close-button {
    width: 20px;
    height: 20px;
    top: -20px;
    right: -20px;
   }
}

.popup__close-button:hover {
  opacity: 0.6;
  transition: opacity .3s linear;

}
