.profile {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  .profile {
    max-width: 100%;
    padding: 42px 60px 0;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    max-width: 100%;
    padding: 42px 19px 0;
    flex-direction: column;
    justify-content: flex-start;
  }
}
