.elements__like-button {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/heart.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 100% 100%;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: opacity .3s linear;
}

.elements__like-button:hover {
  opacity: 0.5;
}
