.form__input {
  width: 358px;
  height: 40px;
  box-sizing: border-box;
  border: none;
  padding: 10px 0 8px 4px;
  margin: 0 0 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 17px;
  font-family: inherit;
}

.form__input:last-of-type {
  margin: 0 0 48px;
}

.form__input:focus {
  border-radius: 5px;
  outline: 3px solid #4bbced;
  transition: outline .2s;
}

@media screen and (max-width: 767px) {
  .form__input {
    width: 238px;
  }
}

@media screen and (max-width: 767px) {
.form__input:last-of-type {
  margin: 0 0 45px;
}
}
